/*Général*/
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #f79f1f;
  --primary-as-rgb: 247, 159, 31;
}

body {
  font-family: "", Calibri;
  font-size: 17px;
  color: black;
  line-height: 1.6;
  margin: 0 auto;
  background-color: white;
}

h1 {
  color: white;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
}

h2 {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
}

input {
  font-size: 20px;
  border: none;
  background-color: white ;
}

a {
  color: var(--primary);
}

p {
  color: #ffffff;
  font-size: 20px;
}


/*Menu*/
nav {
  width: 100%;
  background-color: var(--primary);
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav div {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  width: fit-content;

}

nav li {
  list-style-type: none;
  float: left;
}

nav a {
  display: inline-block;
  text-decoration: none;
  padding: 20px 30px;
  color: white;
}

/*Animation menu*/
.menu-link:hover {
  border-top: 5px solid white;
  background-color: rgba(255, 255, 255, 0.15);
}

.menu-link {
  transition: background-color 0.4s;
}

nav li:hover a {
  padding: 15px 30px 20px 30px;
}

/*Page d'accueil*/
#EAGV {
  color: white;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
}

#accueil {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  position: relative;
}

.faq {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  position: relative; 
}

#presentation {
  background-repeat: no-repeat;
  position: relative;
}

.description {
  color: white;
  text-align: center;
  margin: 0 auto;
  padding: 50px;
  border-radius: 9999px;
  background-color: rgba(var(--primary-as-rgb), .4);
  height: 50%;
  width: 50%;
  aspect-ratio: 1/1;
}

p.description {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p.contact {
  color: var(--primary);
  font-size: 30px;
  text-align: justify;
  margin: 0 auto;
  width: 100%;
  background-color: white;
  padding: 2rem;
}


/*Backgrounds*/
.background {
  height: 100vh;
  filter: brightness(0.7);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
}

.background#photo-1 {
  background-image: url(../Pictures/photo1.png);
}

.background#photo-2 {
  background-image: url(../Pictures/photo2.png);
}

.background#photo-3 {
  background-image: url(../Pictures/photo3.png);
}

.background#photo-4 {
  background-image: url(../Pictures/photo4.png);
}

.background#flotte {
  background-image: url(../Pictures/photoflotte.png);
  position: fixed;
}

.background#equipe {
  background-image: url(../Pictures/equipe.png);
}

.background#inscription {
  background-image: url(../Pictures/photoflotte.png);
  position: fixed;
}

.background#connexion {
  background-image: url(../Pictures/photoflotte.png);
  position: fixed;
}

.background#profil {
  background-image: url(../Pictures/photoflotte.png);
  position: fixed;
}


/*Page flotte*/

#intro-flotte {
  display: flex;
  justify-content: center;
  text-align: left;
  color: white;
  font-size: 25px;
}
.éléments-liste {
  width: 100%;
  list-style-type: none;
  text-align: left;
  border: white 1px solid;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
}

.liste {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
}

.liste-description {
  text-align: center;
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-liste {
  font-size: 19px;
}

.titre-liste {
  font-size: 35px;
}

.liste-titre-avion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
}

.href-liste-flotte {
  color: white;
}

/*Page Equipe*/

.equipe {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.personnes {
  border-radius: 10px;
  border: white 1px solid;
  padding: 30px 30px;
}

.photo-equipe {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.photo-equipe img{
  display: block;
  aspect-ratio: 1/1;
  border-radius: 50%;
}


/*Page incription et connexion*/

body > .container {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: calc(100vh - 3rem - 30px);
}

.signin, .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
  background-color: rgba(var(--primary-as-rgb), .8);
  width: 25vw;
  border-radius: 15px;
  padding: 1.5rem;

}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  font-size: 20px;
  font-weight: bold;
}

.signin input, .login input {
  width: 100%;
  padding: 15px 25px;
  border-radius: 12px;
  outline: none;
  position: relative;
}

.signin input::placeholder, .login input::placeholder {
  color: black;
  transition: all .3s;
}

.signin input:focus::placeholder, .login input:focus::placeholder {
  position: absolute;
  font-size: 14px;
  transform: translateY(-80%);
}

.signin button, .login button {
  width: 100%;
  outline: none;
  border: none;
  padding: 15px;
  background: white;
  color: var(--primary);
  border-radius: 12px;
  border: solid 2px var(--primary);
  transition: all .3s;
}

.signin button:hover, .login button:hover {
  color: white;
  background: var(--primary);
}

/*Page profil*/

.profil > * {
  margin: 2rem;
}


/*Buttons*/

#accueil .button {
  font-size: 30px;
  text-decoration: none;
  color: white;
  border: white 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

#accueil .button:hover {
  background: var(--primary);
  color: white;
  border-color: var(--primary);
}

#presentation .button {
  font-size: 20px;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: var(--primary);
  border: var(--primary) 1px solid;
  border-radius: 10px;
  padding: 10px 20px;
  display: none;
}

#presentation .button:hover {
  background: var(--primary);
  color: white;
  border-color: var(--primary);
}

.button {
  transition: background-color 0.4s, border 0.4s, color 0.4s;
}




.video {
  margin-left: 30px;
  margin-bottom: 10px;
}

.sous-titre-formation {
  color: var(--primary);
  text-align: left;
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: 40px;
}  

.formation {
  color: var(--primary);
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: 30px;
}  

