/*Général*/
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #f79f1f;
  --primary-as-rgb: 247, 159, 31;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 17px;
  color: var(--primary);
  line-height: 1.6;
  margin: 0 auto;
  background-color: white;
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

h1 {
  color: white;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
}

h2 {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
}

input {
  font-size: 20px;
  border: none;
  background-color: white ;
}

a {
  color: var(--primary);
}

p {
  color: var(--primary);
  font-size: 20px;
}

.logo {
  width: 500px;
  padding-left: 2rem;
}

.site {
  display: none;
}


/*Loader*/
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fondu-out {
  opacity: 0;
  transition: opacity 0.4s ease-out;
  display: none;
}


/*Menu*/
nav {
  width: 100%;
  background-color: var(--primary);
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav div {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  width: fit-content;

}

nav li {
  list-style-type: none;
  float: left;
}

nav a {
  display: inline-block;
  text-decoration: none;
  padding: 20px 30px;
  color: white;
  font-size: 15px;
}

/*Animation menu*/
.menu-link:hover {
  border-top: 5px solid white;
  background-color: rgba(255, 255, 255, 0.15);
}

.menu-link {
  transition: background-color 0.4s;
}

nav li:hover a {
  padding: 15px 30px 20px 30px;
}

/*Page d'accueil*/
.titre-accueil {
  color: white;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  padding-bottom: 2rem;
}

#accueil {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  position: relative;
}

.faq {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  position: relative; 
}

#presentation {
  background-repeat: no-repeat;
  position: relative;
}

.description {
  color: white;
  text-align: center;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 9999px;
  background-color: rgba(var(--primary-as-rgb), .4);
  height: 50%;
  width: 50%;
  aspect-ratio: 1/1;
  padding: 0;
}

p.description {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*Page formation*/
.video {
  padding-left: 20px;
  padding-bottom: 40px;
  width: 360px;
  height: 230px;
}

.sous-titre2{
  color: white;
  text-align: left;
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: 15px;
}  

.titre2 {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 30px;
}  


/*Mise en forme*/
.p2 {
  color: var(--primary);
  font-size: 20px;
  padding-left: 2rem;
}
.p3 {
  color: var(--primary);
  font-size:16px;
}
.pvert {
  color: green;
}
.titre {
  color: var(--primary);
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

.sous-titre {
  color: var(--primary);
  text-align: left;
  padding-left: 30px;
  font-size: 20px;
}

.redirection {
  padding-left:2rem;
  color: var(--primary);
  font-size: 14px;
}

.redirection2 {
  padding-left:2rem;
  color: white
}


/*Page contact*/
p.contact {
  font-size: 14px;
  text-align: left;
  padding: 2rem;
}


/*Buttons*/
#accueil .button {
  font-size: 30px;
  text-decoration: none;
  color: white;
  border: white 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

#accueil .button:hover {
  background: var(--primary);
  color: white;
  border-color: var(--primary);
}

#presentation .button {
  font-size: 20px;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: var(--primary);
  border: var(--primary) 1px solid;
  border-radius: 10px;
  padding: 10px 20px;
  display: none;
}

#presentation .button:hover {
  background: var(--primary);
  color: white;
  border-color: var(--primary);
}

.button {
  transition: background-color 0.4s, border 0.4s, color 0.4s;
}


/*Backgrounds*/
.background {
  height: 100vh;
  filter: brightness(0.7);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.vidéo {
  position: fixed;
  z-index: -1;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  filter: brightness(0.7);
  min-height: 100%;
  min-width: 100%;
}

.background#video-1 {
  background: url(../Pictures/vidéo-1.mp4);
}
.background#photo-1 {
  background-image: url(../Pictures/photo1.png);
}

.background#photo-2 {
  background-image: url(../Pictures/photo2.png);
}

.background#photo-3 {
  background-image: url(../Pictures/photo3.png);
}

.background#photo-4 {
  background-image: url(../Pictures/photo4.png);
}

.background#photo-5 {
  background-image: url(../Pictures/photo5.png);
}

.background#photo-6 {
  background-image: url(../Pictures/photo6.png);
  position:fixed;
}
